body{
	background-color: #F4EEE7 !important;
	font-family: 'Poppins' sans-serif !important;
}
:root{
	--main-bg-color:#FF7000;
}
.qr-code{
	margin-top: 100px;
}
.container{
	height: 100%;
}
.qr-code img{
	width: 100%;
}
.section{
	padding-top: 50px;
}
.section-description{
	display: flex;
	justify-content: space-between;
}
.icon-place{
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background: var(--main-bg-color);
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.cart{
	position: relative;
	margin-bottom: 2em;
}
.icon-cart{
	width: 20px;
	color: aliceblue;
}
.cart-amount{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #000;
	color: #fff;
	font-size: 12px;
	right: -5px;
	top: 0px;
}
.page-title{
	
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 33px;
}
.cafe-name{
	
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 27px;
}
/* CARDS */
.card-img{
	max-width: 90px;
	border-radius: 15px !important;
	display: block;
}
.card-price{
	font-size: 14px;
	
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
}
/* UTILITIES */
.btn-prim{
	background: #FF7000 !important;
	box-shadow: 0px 5px 6px 4px  #fbb47e;
	color: white !important;
	width: 100% !important;
}
.btn-menu-prim{
	background-color: #fff !important;
	color: #838383 !important;
	width: 100% !important;
}
.dfx{
	display: flex;
	align-items: center;
	justify-content: center;
}

.bdr{
	border-radius: 15px !important;
}
.mbgc{
	background-color:var(--main-bg-color) !important;
	color: white !important;
}
.image-box{
	width: 95px; 
	height: 95px;
	background-size: cover;
	background-position: -10px;
	border-radius: 15px !important;
}
.btn-menu-prim.filter-active{
	background: #FF7000 !important;
	color: #fff !important;
}
.dfsb{
	display: flex;
	justify-content: space-between;
	align-items: center;

}
/* POPUP */
.popup{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgb(0, 0, 0,0.8);
	top: 0;
	left: 0;
	z-index: 10001;
	opacity: 0;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden;
	transition: all 0.8s ease 0s

}
.total{
	text-align: right;
	font-size: 20px;
	font-weight: bold;
}
.popup.open{
	opacity: 1;
	visibility: visible;
}
.popup.open .popup-content{
	transform: perspective(600px) translate(0, 0) rotate(0deg);
	opacity: 1;
}
.popup-body{
	min-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px 10px;
}
.popup-content{
	background-color: #F4EEE7 !important;
	color: #000;
	width: 800px;
	position: relative;
	padding: 40px 10px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
}
.popup-btn{
	border: none;
	padding:0;
	margin:0;
	position: absolute;
	right:10px;
	top:10px;
}
.close-btn{
	width: 12px;
	height: 12px;
}
.popup-image{
	width:50%
}
.popup-img-box{
	text-align: center;
}
.popup-title{
	text-align: center;
	
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
}
.popup-text{
	
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 22px;
	height: 100%;
}
.count{
	background-color: white;
	display: flex;
	gap:20px;
	align-items: center;
	border-radius: 15px;
	padding: 10px;
}
.btn-count{
	border: 0;
	padding:0;
	width:15px;
	height: 15px;
	border-radius: 50%;
	background-color: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn-count:active{
	border: 0;
	background-color: var(--main-bg-color)
}
.amount{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.total-amount{
	display: flex;
	flex-direction: column;
	row-gap: .75em;
	width: 100%;
	height: 40%;
	background-color: #fff;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	padding:20px;
}
.card-close{
	position: absolute;
	width: 10px;
	height: 10px;
	top: 10px;
	right: 10px;
}
/* .popup-text-continue{

}
.popup-text-continue:hover{

}
.tooltip:hover{
	position: absolute;
	top: 0;
	right: 0;
	color: red;
	border: 1px solid #ccc
} */