body{
	background-color: #F4EEE7 !important;
}
.qr-code{
	margin-top: 100px;
}
.container{
	height: 100%;
}
.qr-code img{
	width: 100%;
}
.section{
	padding-top: 100px;
}
.section-description{
	display: flex;
	justify-content: space-between;
}
.icon-place{
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background: #FF7000;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.cart{
	position: relative;
	margin-bottom: 2em;
}
.icon-cart{
	width: 20px;
	color: aliceblue;
}
.cart-amount{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #000;
	color: #fff;
	font-size: 12px;
	right: -5px;
	top: 0px;
}
.page-title{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 33px;
}
.cafe-name{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 27px;
}
/* CARDS */
.card-img{
	max-width: 90px;
	border-radius: 15px !important;
	display: block;
}
.card-price{
	font-size: 14px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
}
/* UTILITIES */
.btn-prim{
	background: #FF7000 !important;
	box-shadow: 0px 5px 6px 4px  #fbb47e;
	color: white !important;
	width: 100% !important;
}
.btn-menu-prim{
	background-color: #fff !important;
	color: #838383 !important;
	width: 100% !important;
}
.dfx{
	display: flex;
	align-items: center;
	justify-content: center;
}

.bdr{
	border-radius: 15px !important;
}
.image-box{
	width: 95px; 
	height: 95px;
	background-size: cover;
	background-position: -10px;
	border-radius: 15px !important;
}
.btn-menu-prim.filter-active{
	background: #FF7000 !important;
	color: #fff !important;
}